{% extends "base.html" %}
{% block title %}用例{% endblock %}
{% block content %}
    <div class="edit-case">
        <div class="edit-case-content">
            <div class="edit-case-title">
                <ul class="edit-case">
                    <li class="edit-case-list">用 例 名&nbsp：<input></li>
                    <li class="edit-case-list">接 &nbsp口Url：<input></li>
                    <li class="edit-case-list">请求方法：
                        <select class="selects">
                            <option>GET</option>
                            <option>POST</option>
                            <option>PUT</option>
                            <option>DELETE</option>
                        </select>
                    </li>
{#                    header用键值对的方式输入#}
                    <li class="edit-case-list" id="case-header">Headers：
                        <input type="checkbox" checked="True">
                        <span>key</span>
                        <input id="key">
                        <span>value</span>
                        <input id="value">
                    </li>
                    <li class="edit-case-list" id="param-type">参数类型：
                        <select class="selects">
                            <option>json</option>
                            <option>params</option>
                            <option>data</option>
                            <option>form-data</option>
                        </select>
                    </li>
{#                    参数输入要跟着选择的参数类型变化#}
                    <li class="edit-case-list" id="params">参 &nbsp &nbsp 数：
                        <textarea id="json-text"></textarea>
                    </li>
                    <li class="edit-case-list" id="assert-type" name="check">
                        <input type="checkbox">
                        断 &nbsp &nbsp 言：<input>
                        <select class="selects">
                            <option>包含</option>
                            <option>等于</option>
                            <option>大于</option>
                            <option>小于</option>
                        </select>
                        <select class="selects">
                            <option>string</option>
                            <option>int</option>
                            <option>float</option>
                            <option>boolean</option>
                        </select>
                        <input>
                    </li>
                    <li class="edit-case-list" id="pro">项&nbsp&nbsp&nbsp&nbsp目：
                        <select class="selects">
                            <option></option>
                            <option></option>
                        </select>
                    </li>
                    <li class="edit-case-list" id="mokuai">模&nbsp&nbsp&nbsp&nbsp块：
                        <select class="selects">
                            <option></option>
                            <option></option>
                        </select>
                    </li>
                </ul>
            </div>
            <div class="edit-button">
                <button>保存</button>
                <button>取消</button>
            </div>
        </div>
    </div>

    <script src="/static/js/base.js"></script>
    <script src="/static/js/edit_case.js"></script>
{% endblock %}