{% extends "base.html" %}
{% block title %}用例{% endblock %}
{% block content %}
    <div class="edit-case">
        <div class="edit-case-content">
            <div class="edit-case-title">
                <ul class="edit-case">
                    <li class="edit-case-list">用 例 名&nbsp：<input id="name" required="required"></li>
                    <li class="edit-case-list">接 &nbsp口Url：<input id="url" required="required"></li>
                    <li class="edit-case-list">请求方法：
                        <select class="selects" id="method">
                            <option>GET</option>
                            <option>POST</option>
                            <option>PUT</option>
                            <option>DELETE</option>
                        </select>
                    </li>
{#                    header用键值对的方式输入#}
                    <li class="edit-case-list" id="re_header">Headers：
                        <input type="checkbox" checked="True" id="header_selected">
                        <span>key</span>
                        <input id="header_key">
                        <span>value</span>
                        <input id="header_value">
                    </li>
                    <li class="edit-case-list">参数类型：
                        <select class="selects" id="param_type">
                            <option>json</option>
                            <option>params</option>
                            <option>data</option>
                            <option>form-data</option>
                        </select>
                    </li>
{#                    参数输入要跟着选择的参数类型变化#}
                    <li class="edit-case-list" id="param">参 &nbsp &nbsp 数：
                        <textarea id="params"></textarea>
                    </li>
                    <li class="edit-case-list">
                        断 &nbsp &nbsp 言：<input id="check_key">
                        <select class="selects" id="assert_type">
                            <option>in</option>
                            <option>==</option>
                            <option>!=</option>
                            <option> > </option>
                            <option> < </option>
                        </select>
                        <input id="check_value">
                    </li>
                    <li class="edit-case-list" id="pro">项&nbsp&nbsp&nbsp&nbsp目：
                        <select class="selects" id="pros">
                            {% for pos in pof %}
                                <option value={{ pos.id }}>{{ pos.name }}</option>
                            {% endfor %}
                        </select>
                    </li>
                    <li class="edit-case-list" id="mokuai">模&nbsp&nbsp&nbsp&nbsp块：
                        <select class="selects" id="mokuais">
                            {% for mos in mof %}
                                <option value={{ mos.id }}>{{ mos.name }}</option>
                            {% endfor %}
                        </select>
                    </li>
                    <li>前置用例
                        <select class="selects" id="include">
                            <option> None </option>
                            {% for inc in include %}
                                <option value={{ inc.id }}>{{ inc.name }}</option>
                            {% endfor %}

                        </select>
                    </li>
                    <li>全局变量:
                        <div>
                            变量名<input id="variable">
                            获取变量规则<input id="rule">
                        </div>
                    </li>
                    <li>
                        创建人：<input id="creator">
                    </li>
                </ul>
            </div>
            <div class="edit-button">
                <button id="case-save">保存</button>
                <button id="case-cancled">取消</button>
            </div>
        </div>
    </div>
{#    用例依赖和多个用例组合成一个执行？https://www.cnblogs.com/chenxiaomeng/p/15417888.html#}
    <script src="/static/js/base.js"></script>
    <script src="/static/js/edit_case.js"></script>
{% endblock %}