<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <link rel="stylesheet" href="/static/css/home.css">
    <link rel="stylesheet" href="/static/css/base.css">
    <link rel="stylesheet" href="/static/bootstrap-3.4.1-dist/css/bootstrap.css">

</head>
<body>
{% csrf_token %}
<div class="home-p">
    <div class="logout">
        <button id="logout-but">退出登录</button>
    </div>
    <div class="title">
        <div class="titles">
            <!-- 通常可以用ul，语义化，而不是都用div -->
            <div class="setting">
                <div class="setting-content">
                    <span id="setting-text">项目配置</span>
                </div>
                <div class="setting-line"></div>
            </div>
            <div class="project">
                <span id="project-text">模块</span>
                <div class="project-line"></div>
            </div>
            <div class="case-list">
                <span id="case-text">用例</span>
            </div>
            <div class="test-suite">
                <span id="suite-text">测试集</span>
            </div>
            <div class="test-plan">
                <span id="plan-text">测试计划</span>
            </div>
            <div class="test-report">
                <span id="report-text">测试报告</span>
            </div>
        </div>
    </div>
</div>
<!-- 项目配置列表/表格 -->
<div class="add-env-but">
    <button class="add-button">
        <span id="add-env-button">
            新增环境
        </span>
    </button>
</div>
<!-- 新增弹窗 -->
<div class="add-env">
    <div class="add-env-win">
        <div class="new-env">
            <div class="add-env-close">
                <button id="close-but">
                    <span>x</span>
                </button>
            </div>
            <div class="add-env-content">
                <p>环境名：<input type="text" id="name"></p>
                <p>Host：<input type="text" id="host_url"></p>
                <p>描述：<input type="text" id="env_description"></p>
            </div>
            <div class="add-new-but">
                <div class="env-save-but">
                    <button>保存</button>
                </div>
                <div class="env-cancel-but">
                    <button>取消</button>
                </div>
            </div>
        </div>
    </div>

</div>
<table class="set-contents" border="1">
    <thead>
    <tr id="env-list-fist">
        <th>&nbsp  ID  &nbsp</th>
        <th>环境名</th>
        <th>URL</th>
        <th>环境描述</th>
        <th>创建时间</th>
        <th>更新时间</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody></tbody>
</table>
<!-- 模块列表/表格 -->

<!-- 测试用例列表/表格 -->

<!-- 测试集列表/表格 -->

<!-- 测试计划列表/表格 -->

<!-- 报告模块列表/表格 -->


<script src="/static/js/jquery/jquery-3.6.0.min.js"></script>
<script>
    <!-- 访问home页面,默认查询env数据返回-->
    reqenv();
    //项目配置被选中效果
    <!-- 新增册数环境 -->
    $(".add-env-but").click(function(){
        $(".add-env").show()
    })
    <!-- 取消和关闭新增的输入弹框 -->
    $("#close-but,.env-cancel-but").click(function(){
        $(".add-env").hide()
    })
    <!-- 保存,同时向后台发送请求保存数据 关闭弹框 -->
    $(".env-save-but").click(function () {
        var env_name = $("#name").val()
        var env_host = $("#host_url").val()
        var env_description = $("#env_description").val()
        $.ajax(
            {
                url:"./autotest/env_add/",
                type:"POST",
                contentType:"json",
                headers:{"X-CSRFToken": $("[name='csrfmiddlewaretoken']").val()},
                data:JSON.stringify({
                    name:env_name,
                    host_url: env_host,
                    env_description: env_description
                }),
                success:function (data) {
                    {#console.log(data)#}
                    console.log(2)
                    reqenv();
                }
            }
        )
        $(".add-env").hide()
    })
    <!-- 点击查询项目配置 -->
    var temp = `
    <tr class="env-list-data">
        <td name="list-env-id">{id}</td>
        <td name="list-env-name">{name}</td>
        <td name=" list-host">{host_url}</td>
        <td name="list-dec">{env_description}</td>
        <td name="list-ctime">{create_time}</td>
        <td name="list-uptime">{update_time}</td>
        <td class="list-op">
            <button class="env-edit">编辑</button>
            <button class="env-delete">删除</button></td>
        </tr>`
    <!-- 如果要放在标签的写法 -->
    //var temp= document.querySelector('tbody').innerHTML
    {#console.log(temp)#}

    $(".setting").click(function () {
        reqenv();
    })
    <!-- 请求环境配置查询的函数>
    function reqenv() {
        $.ajax(
            {
                url: "./autotest/env/",
                type: "GET",
                headers: {"X-CSRFToken": $("[name='csrfmiddlewaretoken']").val()},
                success: function (result) {
                    {#console.log(result.data,typeof result)#}
                    var innerHTML = '';
                    $.each(result.data, function (i, n) {
                        var t = temp
                        $.each(n, function (e, f) {
                            t = t.split('{' + e + '}').join(f);
                        })
                        innerHTML += t;
                    })
                    document.querySelector('tbody').innerHTML = innerHTML;
                },
            }
        )
    }
    <!-- 编辑环境 -->

    <!-- 删除环境-->
    $(".set-contents").delegate(".env-delete","click",function () {
        var name = $(this).parent().siblings("[name='list-env-name']").text()
        envdel(name)
    })
    function envdel(name) {
        $.ajax(
            {
                url:"./autotest/env_delete/",
                type:"DELETE",
                headers: {"X-CSRFToken": $("[name='csrfmiddlewaretoken']").val()},
                data:JSON.stringify(
                    {
                        name: name
                    }
                ),
                success:function (msg) {
                    reqenv();
                }
            }
        )
    }
</script>
</body>
</html>