<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <link rel="stylesheet" href="/static/css/home.css">
    <link rel="stylesheet" href="/static/css/base.css">
    <link rel="stylesheet" href="/static/bootstrap-3.4.1-dist/css/bootstrap.css">

</head>
<body>
{% csrf_token %}
<div class="home-p">
    <div class="logout">
        <button id="logout-but">退出登录</button>
    </div>
    <div class="title">
        <div class="titles">
            <!-- 通常可以用ul，语义化，而不是都用div -->
            <div class="setting">
                <div class="setting-content">
                    <span id="setting-text">项目配置</span>
                </div>
                <div class="setting-line"></div>
            </div>
            <div class="project">
                <span id="project-text">模块</span>
                <div class="project-line"></div>
            </div>
            <div class="case-list">
                <span id="case-text">用例</span>
            </div>
            <div class="test-suite">
                <span id="suite-text">测试集</span>
            </div>
            <div class="test-plan">
                <span id="plan-text">测试计划</span>
            </div>
            <div class="test-report">
                <span id="report-text">测试报告</span>
            </div>
        </div>
    </div>
</div>
<!-- 项目配置列表/表格 -->
<div class="add-env-but">
    <button class="add-button">
        <span id="add-env-button">
            新增环境
        </span>
    </button>
</div>
<!-- 新增弹窗 -->
<div class="add-env">
    <div class="add-env-win">
        <div class="new-env">
            <div class="add-env-close">
                <button id="close-but">
                    <span>x</span>
                </button>
            </div>
            <div class="add-env-content">
                <p>环境名：<input type="text" id="name"></p>
                <p>Host：<input type="text" id="host_url"></p>
                <p>描述：<input type="text" id="env_description"></p>
            </div>
            <div class="add-new-but">
                <div class="env-save-but">
                    <button>保存</button>
                </div>
                <div class="env-cancel-but">
                    <button>取消</button>
                </div>
            </div>
        </div>
    </div>

</div>
<table class="set-contents" border="1">
    <thead>
    <tr id="env-list-fist">
        <th>环境名</th>
        <th>URL</th>
        <th>环境描述</th>
        <th>创建时间</th>
        <th>更新时间</th>
    </tr>
    </thead>
    <tbody></tbody>
</table>
<!-- 模块列表/表格 -->

<!-- 测试用例列表/表格 -->

<!-- 测试集列表/表格 -->

<!-- 测试计划列表/表格 -->

<!-- 报告模块列表/表格 -->


<script src="/static/js/jquery/jquery-3.6.0.min.js"></script>
<script>
    <!-- 新增册数环境 -->
    $(".add-env-but").click(function(){
        $(".add-env").show()
    })
    <!-- 取消和关闭新增的输入弹框 -->
    $("#close-but,.env-cancel-but").click(function(){
        $(".add-env").hide()
    })
    <!-- 保存,同时向后台发送请求保存数据 关闭弹框 -->
    $(".env-save-but").click(function () {
        var env_name = $("#name").val()
        var env_host = $("#host_url").val()
        var env_description = $("#env_description").val()
        $.ajax(
            {
                url:"./autotest/env_add/",
                type:"POST",
                contentType:"json",
                headers:{"X-CSRFToken": $("[name='csrfmiddlewaretoken']").val()},
                data:JSON.stringify({
                    name:env_name,
                    host_url: env_host,
                    env_description: env_description
                }),
                success:function (data) {
                    {#console.log(data)#}
                    console.log(2)
                }
            }
        )
        $(".add-env").hide()
    })
    <!-- 点击查询项目配置 -->
    var temp = `<tr id="env-list-data">
        <td id="list-env-name">{{ env_name }}</td>
        <td id=" list-host">{{ host }}</td>
        <td id="list-dec">{{ decription }}</td>
        <td id="list-ctime">{{ create_time }}</td>
        <td id="list-uptime">{{ update_time }}</td>
        </tr>`;

    $(".setting").click(function () {
        $.ajax(
            {
                url:"./autotest/env/",
                type:"GET",
                headers:{"X-CSRFToken": $("[name='csrfmiddlewaretoken']").val()},
                success:function (result) {
                    console.log(result.data,typeof result)
                    $.each(result.data,function (i,n) {
                        {#index#}
                        {#console.log(i)#}
                        {#循环对应key，取到value#}
                    })
                    var innerHTML = '';
                    innerHTML += temp.split('{{ name }}').join('ddd');
                    document.querySelector('tbody').innerHTML= innerHTML;
                },
            }
        )
    })
</script>

</body>
</html>