<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <link rel="stylesheet" href="/static/css/home.css">
</head>
<body>
<div class="home-p">
    <div class="logout">
        <button id="logout-but">退出登录</button>
    </div>
    <div class="title">
        <div class="titles">
            <!-- 通常可以用ul，语义化，而不是都用div -->
            <div class="setting">
                <div class="setting-content">
                    <span id="setting-text">项目配置</span>
                </div>
                <div class="setting-line"></div>
            </div>
            <div class="project">
                <span id="project-text">模块</span>
                <div class="project-line"></div>
            </div>
            <div class="case-list">
                <span id="case-text">用例</span>
            </div>
            <div class="test-suite">
                <span id="suite-text">测试集</span>
            </div>
            <div class="test-plan">
                <span id="plan-text">测试计划</span>
            </div>
            <div class="test-report">
                <span id="report-text">测试报告</span>
            </div>
        </div>
    </div>

</div>
<!-- 项目配置列表/表格 -->

<!-- 模块列表/表格 -->

<!-- 测试用例列表/表格 -->

<!-- 测试集列表/表格 -->

<!-- 测试计划列表/表格 -->

<!-- 报告模块列表/表格 -->


<script></script>



</body>
</html>