<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <link rel="stylesheet" href="/static/css/login.css">
    <link rel="stylesheet" href="/static/css/base.css">
</head>
<body>
<div class="login-contain">
    <div class="form-login">
        <form action="/login/" method="POST">
        {% csrf_token %}
        <div class="login-pi">
            <div class="username">
                <div class="icon-input">
                    <i class="iconfont">&#xe70a;</i>
                    <div class="name-input">
                        <input type="text" id="user" name="username" placeholder="用户名/邮箱" value="{{ info.username }}"> <!--没有name的属性的话，后台没有对于字段 -->
                    </div>
                </div>
            </div>
            <div class="password">
                <div class="icon-input">
                    <i class="iconfont">&#xe60f;</i>
                    <div class="passwd">
                        <input type="password" id="pass" name="password" placeholder="密码" value="{{ info.password }}"><br>
                    </div>
                    <div class="hide-show">
                        <i class="show-pass">&#xe615;</i>
                        <i class="hide-pass">&#xe676;</i>
                    </div>
                </div>

            </div>
            <p class="wrong-tips">
                {{ wrong_msg }}
            </p>
            <div class="login-but">
                <input type="submit" value="登录">
            </div>
        </div>
        <div class="re-for">
            <div class="register">
                <a href="/register/"> 立即注册 </a>
            </div>
            <div class="forget-pw">
                <a href=""> 忘记密码 </a>
            </div>
        </div>
        </form>
    </div>
</div>
<script src="/static/js/jquery/jquery-3.6.0.min.js"></script>
<script>
    $(".hide-show").click(function (e) {
        console.log(e.target)
        console.log($("i[class='hide-pass']" )[0])
        //event.target 触发该事件的 DOM 元素
        if (event.target === $("i[class='hide-pass']")[0] )
        {
            $(".show-pass").css("display","block")
            $(".hide-pass").css("display","none")
            $(".passwd input").prop("type","text")
        }
        else {
            $(".show-pass").css("display","none")
            $(".hide-pass").css("display","block")
            $(".passwd input").prop("type","password")
        }
    })

    $(".name-input input,.passwd input").focus(function () {
        $(".wrong-tips").remove()
    });
</script>
</body>
</html>