{% extends 'base.html' %}
{% block title %}模块{% endblock %}
{% block content %}
    <div class="add-but">
        <button class="add-button">
            <span id="add-mo-button">
                新增模块
            </span>
        </button>
    </div>
    <!-- 新增弹窗 -->
    <div class="add-win">
        <div class="add-edit-win">
            <div class="new">
                <div class="add-content">
                    <p>模块名：<input type="text" id="mo_name"></p>
                    <p>描 &nbsp述&nbsp ：<input type="text" id="m_description"></p>
                    <p>测试人：<input type="text" id="m_tester"></p>
                    <p>创建人：<input type="text" id="m_creator"></p>
                    <p>项 &nbsp目&nbsp：<select class="p_selected">
                        {% for foo in pro %}
                           <option id={{ foo.id }}>{{ foo.name }}</option>
                        {% endfor %}
                    </select></p>
                </div>
                <div class="save-new-but">
                    <div class="save-but">
                    <button>保存</button>
                </div>
                    <div class="cancel-but">
                    <button id="mo-cancel">取消</button>
                </div>
                </div>
            </div>
            <div class="add-close">
                    <button id="close-but">
                        <span>x</span>
                    </button>
                </div>
        </div>
    </div>
    <table class="set-contents" border="1">
        <thead>
        <tr id="mo-list-fist">
            <th>&nbsp  ID  &nbsp</th>
            <th>模块名</th>
            <th>描 &nbsp述&nbsp</th>
            <th>项目</th>
            <th>测试人</th>
            <th>创建人</th>
            <th>创建时间</th>
            <th>更新时间</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody></tbody>
    </table>
    <script src="/static/js/base.js"></script>
    <script src="/static/js/home-mokuai.js"></script>
    <!-- 这样就没办法点击回去项目配置？>
{% endblock %}