<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册</title>
    <link rel="stylesheet" href="/static/css/register.css">
</head>
<body>
<div class="reg-form">
    <div class="user-reg-info">
        <div class="user-register">
        <div class="welcome-reg">
            <h1>欢迎注册</h1>
            <p>
                已有账号？
                <span class="login-but">登录</span>
            </p>
        </div>
        <div class="user-info">
            <form action="/register/" method="post">
                {% csrf_token %} <!--不加上这个的话会被后台自动拦截-->
                <div class="username">
                    <label>用户名</label>
                    <input type="text" id="user" name="username" value="{{ user_register.username }}" required="required"> <!--没有name的属性的话，后台没有对于字段 -->
                </div>
                <div class="user-pass">
                    <label>密&nbsp&nbsp&nbsp码</label>
                    <input type="text" id="pass" name="password" value="{{ user_register.password }}" required="required"><br>
                </div>
                <div class="user-email">
                    <label>邮&nbsp&nbsp&nbsp箱</label>
                    <input type="email" id="email" name="email" value="{{ user_register.email }}" required="required"><br>
                </div>
                <p class="wrong-tips">
                    {{ user_register.username }}
                    {{ msg }}
                </p>
                <div class="reg-but">
                    <input type="submit" value="注册">
                </div>
            </form>
        </div>
    </div>
    </div>
</div>
<script src="/static/js/jquery/jquery-3.6.0.min.js"></script>
<script>
    var log_but = $(".welcome-reg span")
    console.log(log_but)
    log_but.click(function () {
        console.log("登录页")
        window.location.href="/login"
    })
    //用户重新获取焦点或者刷新页面后，取消tips
    $(".username input,.user-pass input,.user-email input").focus(function () {
        $(".wrong-tips").remove()
    });
    //刷新？？？

    //怎样给个注册成功的提示然后就自动跳转到登录页面？
</script>
</body>
</html>