@font-face {
  font-family: 'iconfont';
  src: url('../font/font_login/iconfont.woff2?t=1631606409225') format('woff2'),
       url('../font/font_login/iconfont.woff?t=1631606409225') format('woff'),
       url('../font/font_login/iconfont.ttf?t=1631606409225') format('truetype');
}

.iconfont,.show-pass,.hide-pass{
  font-family: "iconfont" !important;"show-pass" !important;"hide-pass" !important;
  font-size: 18px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
