/*
主页功能
1.退出登录
2.home主区域显示：
   2-1，自动化测试区：project数量，模块数量，用例数量，用例集
   2-2，手动测试区：测试用例列表，通过归类的文件夹过滤展示
先制作自动化的部分
3.home页面功能模块：project、model、case、testplan、test report，setting、手动测试
    3-1.后台部分要结合python的unittest模块了-这块估计还要重新学
    3-2.前端部分用前-后分离的形式写
*/
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
.home-p {
    /*display: flex;*/
    width: 80%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 50px;
}
.logout button {
    font-size: 18px;
    padding:0 10px 0 10px;
    border: 1px solid;
    border-radius: 6px;
    background-color: gray;
    color: #fffdef;
    cursor: pointer;
}
.titles span{
    padding: 10px;
    font-size: 18px;
    background-color: #4e6ef2;
    color: #fffdef;
    cursor: pointer;
}
.logout{
    float: right;
}
.titles{
    display: flex;
}
.add-env-but{
    width: 80%;
    margin: auto;
    margin-top: 30px;
}
.add-env{
    display: none;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background:rgba(0,0,0,0.3);
}
.add-env-win{
    display: flex;
    width: 80%;
    margin: auto;
    height: 100%;
    justify-content: center;
    align-items: center;
}
.new-env{
    display: flex;
    padding: 10px;
    width: 800px;
    height: 300px;
    justify-content: center;
    align-items: center;
    background: white;
}
.add-env-close{
    display: block;
    float: right;
}

.set-contents{
    width: 80%;
    margin: auto;
    margin-top: 10px;
}