/*flex布局*/

/*
1.登录页面设置一张铺满的背景图+公司logo
2.注册登录元素居中
3.链接下户线取消
4.调整距离
*/

/*css设置背景图片，body */
html,body{
    /*height: 100%;*/
    height: 100vh; /* 这个填充是以屏幕为参考*/
}

*{
    text-decoration: none;
}

body{
    background-image:url("12.jpg");
    background-repeat:no-repeat;
    /*background-size:100% 100%;*/
    background-size: cover;
}
/*div居中*/
.login-contain{
    display:flex;
    justify-content:center;
    align-items:center;
    height:100%; /*以父容器为参考*/
    /*height:100vh; !*以父容器为参考*!*/
}
/*调整各控件之间的间距*/
.username input,.passwd input{
    width: 320px;
    height:35px;
    margin: 10px;
}
.login-but{
    display: flex;
    justify-content: center;
    margin: 10px;
}

.login-but input{
    width: 328px;
    height: 35px;
    background-color: #0066ff;
    border: 0 solid #000000; /*去掉按钮背景阴*/
}

/* 立即注册 忘记密码 内联*/
.re-for{
    text-align: center;
    margin: 10px;
}
.register,.forget-pw{
    display: inline;
}
.register a,.forget-pw a{
    color: black;
    text-align: center;
    padding: 10px;
}




